body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: 'Cuprum', sans-serif;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.header {
  background-color: #f1f5f7;
  padding-bottom: 60px;
}

.logo p{
  font-size: 24px;
  line-height: 24px;
    margin: 0;
  padding: 15px 55px 7px 55px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: white;
  border-bottom: 4px solid #b52933;
}

.logo p:hover{
    background-color: #ca2c37;
}

.back-header {
  background-color: #293449;
}

.header-top {
  width: 940px;
  margin: 0 auto;
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
    height: 42px;
}

.header-top a {
   text-decoration: none;
  color: white;
}

.search,
.bookmarks,
.basket{
  position: relative;
}

.search{
    margin-right: 140px;
    margin-left: 0px;
}

.search p,
.bookmarks p,
.basket p{
    margin: 0;
    padding: 9px 30px 9px 30px}

.search:before,
.bookmarks:before,
.basket:before{
  content: "";
  position: absolute;
  width: 23px;
    height: 23px;
    top: 4px;
    left: -3px;
  background-image: url(pictures/spritesheet3.png);
  background-repeat: no-repeat;
    opacity: 0.3;
}

.search:before{
    background-position: -83px -1px;
}

.bookmarks:before{
    background-position: -26px 1px;
}

.basket:before{
    background-position: -1px 1px;
}

.search:hover,
.bookmarks:hover,
.basket:hover{
    background-color: #212a3a;}

.search:hover:before,
.bookmarks:hover:before,
.basket:hover:before{
    opacity: 1;
}
.order {
  background-color: #63a63e;
  color: white;
  padding: 12px 20px;
  font-size: 17px;
  line-height: 18px;
}

.order:hover{
    background-color: #5fbb2d;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  margin: 45px auto;
}

.section-one{
	width: 200px;
	margin-left: 50px;
	margin-right: 70px;
    color: #ee3643;
    line-height: 23px;
    font-size: 16px;
    font-style: italic;
}

.section-one p{
    margin: 0;
}

.section-two{
	width: 271px;
}

.section-two span{
    position: relative;
  display: block;
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
  padding: 10px 0px 10px 70px;
  border: white solid 3px;
}

.section-two p {

    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #32425c;
}

.section-two span::before{
    content:'';
    position: absolute;
    top: 4px;
    left: 11px;
    width: 30px;
    height: 30px;
    background-image: url("pictures/spritesheet.png");
    background-position: 57px 29px;
}

.section-three{
    position: relative;
    display: flex;
	width: 285px;
	margin-left: auto;
}

.section-three a{
   font-size: 21px;
    line-height: 18px;
    background-color: white;
  text-decoration: none;
  color: black;
}

.section-three a:hover{
    color: #ee3643;
}

.section-three a:nth-child(1){
    margin-right: 10px;
    padding: 15px 25px 15px 50px;
}

.section-three span{
    content:"  ";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 9px;
    background-image: url(pictures/spritesheet.png);
    background-position: -2px 31px;
}

.section-three a:nth-child(2){
    width: 150px;
    padding: 15px 25px;
}

.main-nav {
  display: flex;
  width: 940px;
  margin: 0 auto;

}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-nav ul li {
  list-style: none;
  margin: auto 0px;
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 17px 36px;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
}

.main-nav a:hover{
    background-color: #293449;
}

.main-nav a:active{
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.main-nav li:hover{
    background-color: #293449;
}

.catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 50px;
}

.btn-catalog{
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 195px;
}

.btn-catalog p {
    margin: 0;
}

.catalog-card {
  position: relative;
  width: 300px;
  height: 123px;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}

.catalog-card p{
  margin: 0;
  line-height: 65px;
  margin-left: 25px;
}

.catalog-card::before{
    content: "";
    position: absolute;
    width: 85px;
    height: 70px;
    right: 28px;
    top: 26px;
    background-image: url(pictures/catalog-card-sprite.png);
     background-repeat: no-repeat;
  }

.catalog-card a{
  display: block;
  width: 135px;
  height: 40px;
  position: absolute;
  top: 65px;
  left: 25px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);}

.catalog-card a:hover{
    background: rgba(0, 0, 0, 0.2);
}

.catalog-card a:active{
    background: rgba(0, 0, 0, 0.3);
}

.slider {
    position: relative;
    width: 620px;
    height: 265px;
    background-color: #f2f6f8;
}

.slider .arrow-left,
.slider .arrow-right{
    position: absolute;
    width: 32px;
    height: 50px;
    background: url("pictures/arrows.png");
}

.slider .arrow-right{
     top: 100px;
     right: 10px;
     background-position: 33px 4px;
 }

.slider .arrow-left{
    top: 100px;
    left: 10px;
}

.materials,
.discounts {
  margin-bottom: 20px;
}

.materials {
  background-color: #f6b22d;
}

.materials:before{
  background-position: -55px -76px;
}

.instruments {
  background-color: #4aafde;
}

.instruments:before {
  background-position: -155px -72px;}

.catalog .tech {
  background-color: #cc79d1;
}

.catalog div:nth-child(3):before {
  background-position: -158px -1px;
}

.discounts {
  background-color: #85d179;
}

.discounts:before {
  height: 75px;
  right: 37px;
   background-position: 11px -3px;}

.delivery {
  background-color: #f6b22d;
}

.delivery:before {
  background-position: -72px -1px;
}

.btn-main{
    font-size: 14px;
    line-height: 18px;
    vertical-align: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    text-decoration:  none;
    color: white;
	background-color: #ee3643;
	border-radius: 3px;
}

.btn-main:hover{
    background-color: #ca2c37;
}

.btn-main:active{
    background-color: #ba2732;
}

.popular-items .btn-main,
.popular-mnf .btn-main{
    width: 220px;
}

.materials p::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    right: 0px;
    top: 0px;
    background-image: url(pictures/newflag.png);
    background-repeat: no-repeat;
}

.popular-items-top,
.popular-mnf-top {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 90px;
  background-color: #f7f3ec;
}

.popular-items-top h2,
.popular-mnf-top h2 {
  font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #32425c;
    margin-left: 30px;
}

.popular-items-top a,
.popular-mnf-top a {
  margin-right: 25px;
}

.popular-items-content,
.popular-mnf-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 20px auto;
}

.product-card {
    position: relative;
    display: inline-block;
    width: 220px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.product-card .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 59px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
    background: url("pictures/newflag.png");
}

.product-card .actions{
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}
.product-card .actions .buy,
.product-card .actions .bookmark{
    position: relative;
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Cuprum', sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.product-card .actions .bookmark{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.actions .buy:after{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 2px;
    left: 4px;
    background-image: url("pictures/spritesheet3.png");
    opacity: 0.3;
}

.actions .buy:hover:after{
    opacity: 1;
}

.actions .buy:hover{
    background-color: #5fbb2d;
    border-color: #5fbb2d;
    border-bottom-color: #367315;
}
.actions .buy:active{
    background-color: #518534;
    border-color: #518534;
}
.actions .bookmark:hover{
    border-color: #32425c;
    color: #32425c;
}
.actions .bookmark:active{
    border-color: rgba(50, 66, 92, 0.3);
    color: rgba(50, 66, 92, 0.3);
}
.product-card .actions{
    display: none;
}

.product-card:hover .actions{
    display: block;
}
.product-card .image{
    width: 217px;
    height: 167px;
}

.product-card .image img{
    max-width: 100%;
}

.product-card .title{
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.product-card .discount{
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}

.product-card .price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #ee3643;
    border-radius: 3px;
}

.product-card .price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.mnf-card {
  display: inherit;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.mnf-card:hover{
    box-shadow:  0 10px 25px rgba(41, 52, 73, 0.5);
    border-color: white;
}

.mnf-card:active{
    box-shadow:  0 4px 10px rgba(41, 52, 73, 0.5);
    border-color: white;
    opacity: 0.3;
}

.mnf-card img {
  margin: auto;
}

.service-background {
  background-color: #f2f6f8;
}

.service {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 75px;
  background-image: url(pictures/Truck.jpg);
  background-repeat: no-repeat;
  background-position: 468px 232px;
}

.service-title {
  width: 400px;
  border: 1px solid red;
}

.service-content {
  display: flex;
}

.service-content ul {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  padding-left: 0;
}

.service-content ul li{
	line-height: 60px;
	padding-left: 25px;
	width: 215px;
	color: white;
	background-color: #32425c;
}

.service-content img{
	width: 206px;
	height: 146px;
}

.service-delivery{
	width:280px;
	border: 1px solid green;
	margin-right: 140px;
}

.info {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 85px;
}

.about {
  width: 520px;
}

.about ul {
	flex-direction: column;
	margin-bottom: 50px;
	padding-left: 0;
}

.about ul li{
	line-height: 30px;
}

.contact{
	width: 300px;
}

.contact img{
	margin-top: 20px;
	margin-bottom: 40px;
}

.footer {
  background-color: #32425c;
  color: white;
}

.footer-top,
.footer-middle,
.footer-container {
  width: 940px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-bottom {
  background-color: #293449;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top .logo {
  font-size: 20px;
  line-height: 10px;
  border-bottom: 5px solid #b52933;
}

.footer-nav ul {
	align-items: flex-end;
}

.footer-nav ul li,
.footer-nav-two ul li{
	margin-left: 60px;
	line-height: 24px
}

.footer-nav-two ul li{
  color:#ffd180;
}

.footer-middle{
	padding-bottom: 50px;
}

.footer-bottom{
	padding-bottom: 15px;
	padding-top: 15px;
}

.protection-of-rights{
  width: 235px;
  font-size: 14px;
}

.social{
  width: 141px;
  border: 1px solid white;
}

.feedback{
  width: 301px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.feedback a {
  color:#ffd180;
  text-decoration: none;
}